<html>
  <head>
    <title>My Smart Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="assets/img/favicons/favicon.png">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
		<link rel="stylesheet" id="css-bootstrap" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" id="css-main" href="stylesheets/oneui.css">
    <link rel="stylesheet" id="css-main" href="stylesheets/style.css">

    <script src="scripts/raphael/raphael.min.js"></script>
    <script src="scripts/underscore/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="scripts/es6-shim/es6-shim.min.js"></script>

    <script src="scripts/systemjs/dist/system-polyfills.js"></script>
    <script src="scripts/angular2/bundles/angular2-polyfills.js"></script>
    <script src="scripts/systemjs/dist/system.src.js"></script>
    <script src="scripts/rxjs/bundles/Rx.js"></script>
    <script src="scripts/angular2/bundles/angular2.dev.js"></script>
    <script src="scripts/intl/dist/Intl.min.js"></script>
    <script src="scripts/intl/locale-data/jsonp/fr.js"></script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <script>
      System.config({
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('javascripts/home-app/main.js')
            .then(null, console.error.bind(console));
    </script>
  </head>
  <body class='bg-primary-darker'>
    <smarthome-app>
      <div style="position: absolute; left:0; top:0; right:0; bottom:0; font-size: 200%; margin: auto; text-align: center; vertical-align: middle; color: white">
        <span>App L</span><i class="fa fa-circle-o-notch text-primary"></i><span>ading</span>
      </div>
    </smarthome-app>
  </body>
</html>
