
<style>
 .temp span, .hum span {
   font-size: 6vmin;
   vertical-align: top;
   top: 2vmin;
   position: relative;
 }
 .temp span.fa-tint {
   vertical-align: top;
   top: 4vmin;
 }
 .temp, .hum {
   vertical-align: top;
   display: inline-block;
   opacity: 0.3;
   font-family: "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;
 }
 .temp-hum-container {
   text-align: center;
   font-size: 12vmin;
   z-index: 2;
 }
 .switches-container span {
   opacity: 0.3;
   font-family: "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;
   font-size: 6vh;
 }
 .switches-container label {
   font-size: 6vh;
   opacity: 1;
   z-index: 2;
 }
 canvas {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -1;
   opacity: 0.1;
 }
 .switch {
   margin-top: 2vh;
   margin-bottom: 2vh;
   z-index: 1000;
 }
 h1 {
   font-size: 8vmin;
 }
 .content {
   padding: 1vmin;
 }
 /*.weather {
   background-color: #2c343f;
   opacity: 0;
 }
 .weather:hover {
   background-color: white;
   opacity: 1;
 }*/
</style>


<div class="content">

<canvas #canvas width="800" height='480' id="roomview" class="hidden-xs hidden-sm"></canvas>

<h1 class='text-muted'>{{room.name}}<span class='pull-right'>{{ date | date:'mediumTime' }} </span></h1>

<div class='switches-container text-white block block-transparent col-xs-12 col-sm-6 col-md-6 col-lg-6'>

  <div class='block-content'>
    <div class="col-xs-12 switch" *ngFor="let sw of room.switches" >
      <span>{{sw.name}}</span>
      <label *ngIf='sw.type=="switch"' class="css-input switch switch-lg switch-primary pull-right">
        <input type="checkbox" [(ngModel)]='sw.on'/><span></span>
      </label>
      <div *ngIf='sw.type=="motor"' class="btn-group btn-group-lg pull-right" role="group" data-toggle="buttons">
        <button class="btn btn-rounded btn-disabled" type="button"><i class="fa fa-chevron-down"></i></button>
        <button class="btn btn-rounded btn-disabled" type="button"><i class="fa fa-circle"></i></button>
        <button class="btn btn-rounded btn-disabled" type="button"><i class="fa fa-chevron-up"></i></button>
      </div>
      <!--<div  class="form-material pull-right date">
        <input class="js-datetimepicker form-control" type="text" id="example-datetimepicker5" name="example-datetimepicker5" placeholder="Choose a date..">
      </div>
      <div *ngIf='sw.type=="alarm"' class='form-material input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
      </div>-->

    </div>
  </div>
</div>

<div class='temp-hum-container text-white block block-transparent col-xs-12 col-sm-6 col-md-6 col-lg-6'>

  <div class='temp-container block-content' [hidden]="!room.temperature">
    <div class='temp'>
      {{25}} <span>°C</span> | {{75}} <span>%</span><span class='fa fa-tint'></span>
    </div>
  </div>

</div>

<div class="block block-rounded weather col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=48.891838&lon=2.411926&name=Pantin&font=Helvetica Neue&units=ca"> </iframe>
</div>

</div>
